body {
    background-color: lightblue;
    font-family: 'Neucha', cursive;
}

.info {
    position: fixed;
    width: 100%;
    text-align: center;
}

#frame {
    position: fixed;
    background-color: white;
    width: 950px;
    height: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.secretBorder {
    position: fixed;
    width: 25px;
    height: 650px;
    left: -475px;
    top: -325px;
    z-index: 3;
}

#sb1 {
    background-color: white;
}

#sb2 {
    width: 300px;
    background-color: lightblue;
    left: -775px;
}

.gameScreen {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.absolute {
    position: absolute;
}

#shopPane {
    top: -300px;
    left: -450px;
    z-index: -2;
}

#orderPane {
    bottom: -300px;
    left: -450px;
    z-index: 0;
}

#ingredientsPane {
    top: -300px;
    right: -450px;
    z-index: 0;
}

#timer {
    bottom: -160px;
    left: -40px;
    width: 200px;
}

#perfect {
    top: -110px;
    left: -228px;
}

#priceText {
    font-size: 42px;
    color: cornflowerblue;
    top: -86px;
    left: -190px;
}

.perfect-animation {
    animation: translate-y 700ms;
}

@keyframes translate-y {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

#customer {
    top: -140px;
    left: -80px;
    z-index: -1;
}

.exit-right {
    animation: exit-right 1.2s;
}

@keyframes exit-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(300px);
    }
}

.enter-right {
    animation: enter-right 1s;
}

@keyframes enter-right {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
}

.exit-left {
    animation: exit-left 1.2s;
}

@keyframes exit-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300px);
    }
}

.enter-left {
    animation: enter-left 1s;
}

@keyframes enter-left {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}

#cup {
    top: -116px;
    left: -414px;
}

#tea {
    top: -92px;
    left: -410px;
}

#boba {
    top: 60px;
    left: -394px;
}

#redBean {
    top: -92px;
    left: -396px;
}

#jelly {
    top: 44px;
    left: -394px;
}

#whippedCream {
    top: -168px;
    left: -410px;
}

#temperature {
    top: -180px;
    left: -390px;
}

.ingredientIcons {
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    position: absolute;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 270px;
}

#orderIcons {
    top: 200px;
    left: -270px;
}

#flavorIcons {
    top: -210px;
    left: 164px;
}

#toppingIcons {
    top: -70px;
    left: 164px;
}

#tempIcons {
    top: 74px;
    left: 160px;
}

.icon {
    margin-left: 2px;
    margin-right: 2px;
}

button {
    width: 120px;
    font-size: 30px;
    font-family: 'Neucha', cursive;
    background-color: pink;
    border-color: white;
}

#doneBtn {
    top: 170px;
    left: 180px;
}

#trashBtn {
    top: 170px;
    left: 304px;
}

#moneyCounter {
    top: 214px;
    left: 280px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}

.invisible {
    display: none;
}

#gameOverBg {
    background-image: linear-gradient(rgb(206,227,255), rgb(255,212,245));
    width: 900px;
    height: 600px;
    top: -300px;
    left: -450px;
}

#gameOverHeader {
    font-size: 108px;
    white-space: nowrap;
    left: -200px;
    top: -300px;
}

#gameOverText {
    font-size: 48px;
    white-space: nowrap;
    left: -184px;
    top: -120px;
    text-align: center;
}

#restartBtn {
    font-size: 42px;
    width: 300px;
    height: 80px;
    left: -154px;
    top: 130px;
}