body {
    background-color: lightblue;
    font-family: 'Neucha', cursive;
}

.info {
    position: fixed;
    width: 100%;
    text-align: center;
}

.rectangle {
    position: fixed;
    background-color: white;
    width: 950px;
    height: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.game {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.absolute {
    position: absolute;
}

#timer {
    bottom: 140px;
    left: 410px;
}

#tea {
    top: 208px;
    left: 40px;
}

#customer {
    top: 160px;
    left: 300px;
}

#topping {
    top: 360px;
    left: 56px;
}

#temperature {
    top: 120px;
    left: 60px;
}

.ingredientIcons {
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    position: absolute;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 270px;
}

#orderIcons {
    bottom: 48px;
    left: 200px;
}

#flavorIcons {
    top: 90px;
    right: 16px;
}

#toppingIcons {
    top: 230px;
    right: 16px;
}

#tempIcons {
    bottom: 178px;
    right: 16px;
}

.icon {
    margin-left: 2px;
    margin-right: 2px;
}

button {
    width: 120px;
    font-size: 30px;
    font-family: 'Neucha', cursive;
    background-color: pink;
    border-color: white;
}

#doneBtn {
    bottom: 86px;
    right: 154px;
}

#trashBtn {
    bottom: 86px;
    right: 28px;
}

#moneyCounter {
    bottom: 0;
    right: 0;
    margin-bottom: 32px;
    margin-right: 132px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}